@import 'flaticon';

.craft-layer-node {
  .layer-name {
    h2 {
      margin: 0;
      padding: 0;
      color: inherit;
    }
  }
}

.img-preview-custom {
  .ant-image {
    width: 100%;
  }
}

.wrapper-upload-custom {
  width: 100%;
}

div[data-baseweb='drawer'] {
  z-index: 999;
}

.btn-back {
  &:hover {
    background-color: #fff !important;
  }
}
