# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
dist
node_modules
coverage

# Environment (contains sensitive data)
.env

# Files not required for production
.editorconfig
Dockerfile
docker-compose.yml
docker-stack.yml
README.md
.eslintrc.json
.eslintignore
nodemon.json
.env.development
docker
nginx
postgres
uploads
views
webapp